/*
Author: Wesley Luna
Date: June 27,2020
*/

header nav ul li a{
	text-decoration: none;
	color: #000000;
	padding: 0.50em;
/*	padding-top: 0.75em;
	padding-bottom: 0.75em; */
	border-radius: 0.25em;
/*	border: .1em solid #1D8DD1;*/
	border: .1em solid #D1080C;
	
}

header img {
	float: left;
	width-max: 20%;
/*endzone or ez*/
	height: 30px;
	margin: 1em;

/*spartan*/
/*	height: 50px;
	margin-left: 1em;
*/
}

header nav li {
	display: inline-block;
	text-decoration: none;
	color: #000000;
/*	margin-right: 1em; */
	margin: 0em;
	font-size: 1.5em;
}

header nav ul{
	float: right;
	list-style: none;
}


header nav ul li a:visited{
	color: #000000;
}

header nav ul li a:hover{
	color: #FFFFFF;
	/*background-color: #e1181C;*/
	/*background: #13D1B3;*/
	border: .1em solid #FFFFFF;
}

ul li {
	list-style: none;
}

ul li a {
	text-decoration: none;
	color: #000000;
}

nav a{
	/*background-color: #0000FF;*/
}

header {
	background: #D1080C;
	position: fixed;
	width: 100%;
	z-index: 1;
/*	background: #1D8DD1; */
}

header::after {
	content: ' ';
	display: table;
	clear: both;
}

#userlinks ul li a{
	color: #FFFFFF;
}

#container{
	width: 100%;
}

#videobanner {
	width: 100%;
	height: auto;
	margin-top: 3.5em;
}

.imgbanner {
	width: 100%;
	height: auto;
	margin-top: 3.75em;
}

body {
	margin: 0;
	background: #191919;
}

.homebutton {
	margin: 0;
	position: absolute;
	top: 75%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #D1080C;
}

.homebutton ul li a{
	color: #D1080C;
	border-radius: 0.25em;
	border: .1em solid #D1080C;
	padding: 0.50em;
	font-size: 2em;
}

.homebutton ul li a:visited{
	color: #D1080C;
	border-radius: 0.25em;
	border: .1em solid #D1080C;
}

.homebutton ul li a:hover{
	color: #FFFFFF;
	border-radius: 0.25em;
	border: .1em solid #FFFFFF;
}

p {
	color: #FFFFFF;
}
/*
#joindescription {
	margin-top: 4em;
	margin-bottom: 30em;
	margin-right: 10%;
	float: right;
	background-color: #282828;
	width: 30em;
	height: 30em;
	padding-top: 1em;
}
*/
#join {
	float: left;
	margin-top: 4em;
	margin-bottom: 20%;
	margin-left: 10%;
	width: 80%;
	padding-top: 1em;
}

#join article{
	height: 85%;
}

article {
	background-color: #C3CDD6;
	border-radius: 1em;
	padding: 2%;
	margin-top: 8%;
	position: relative;
}

#about {
	width: 80%;
	margin-top: 4em;
	margin-left: 9%;
}
footer {
	clear: both;
	float: left;
	color: #999999;
}

html {
  scroll-behavior: smooth;
}

#userlinks {
	float: left;
	width: 25%;
	background-color: #282828;
	padding: 0.75%;
	margin-left: 0.75%;
	margin-right: 0.75%;
	margin-top: 5em;
	border-radius: 1em;
	position: fixed;
}

.feed {
	float: right;
	width: 40%;
	padding-right: 0.75%;
	padding-left: 0.75%;
	margin-left: 0.75%;
	margin-right: 0.75%;
	margin-top: 1%;
}


.onlyfeed {
	width: 40%;
	padding: 0.75%;
	margin-left: 30%;
	margin-right: 30%;
}

.rightcolumn {
	float: right;
	width: 25%;
/*	background-color: #282828; */
	padding: 0.75%;
	margin-left: 0.75%;
	margin-right: 0.75%;
	margin-top: 4em;
	border-radius: 1em;
/*	max-height: 15em;
	height: 300px;
	overflow-y: auto; */

}

/* Fake image */
.fakeimg {
	background-color: #282828;
	margin-right: auto;
	margin-left: auto;
}

.post-image-properties {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Small fake image */
.smallfakeimg {
	background-color: #aaa;
	width: 75px;
	height: 75px;
	/*  width: 1%;
	padding: 1em;*/
	border-radius: .3em;
	float: left;
	margin-right: 0.75em;
}

.post {
	background-color: #282828;
	/*padding-left: 1.5%;*/
	/*padding-right: 1.5%;*/
	/*padding-bottom: 1.5%;*/
	/*padding-top: 1em;*/
	color: #FFFFFF;
	/*margin-top: 20px;*/
	margin-bottom: 2em;
}

.post h2 {
	font-weight: bold;
	font-size: 1em;
}

#main {
	z-index: 2;
}

/* created by Adan Pantoja*/
.login-positioning {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	transform: translate(-50%, -50%);
	color: #D1080C;
}

.link-properties {
	color: blue;
	text-decoration: none;
}

.link-properties:hover {
	color: #D1080C;
	border-bottom: 1px solid blue;
}

.link-properties:visited {
	color: blue;
}

.post-buttons {
	display: inline-block;
	margin-right: 2%;
}

.article-img {
	height: 75px;
	width: 75px;
	border-radius: .3em;
}

.form-register {
	background-color: #C3CDD6;
	border: 1px solid black;
	height: 100%;
	width: 40%;
	padding-right: 5%;
	margin: auto;
}

.form-update {
	background-color: #C3CDD6;
	border: 1px solid black;
	height: 100%;
	width: 60%;
	padding-right: 5%;
	margin: auto;
	margin-top: 10%;
}

.form-box {
	border-bottom: 1px solid black;
	/* background-color: white; */
	font-size: 2em;
	padding: 1%;
	margin: 2%;
}

/* Controls sizes for all form */
.form-group {
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-right: 8%;
}

/* Controls sizes for all form */
.form-group-post-content {
	width: 95%;
	padding-top: 1%;
	padding-bottom: 1%;
}

/* Controls sizes for all form */
.form-group-post {
	width: 95%;
	padding-top: 1%;
	padding-bottom: 1%;
}

/* Controls sizes for all form */
.form-group-post-profile {
	width: 13%;
	margin-top: 5%;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
}

.form-group-post-title {
	width: 50%;
	padding-top: 1%;
	padding-bottom: 1%;

}

.new_post-legend {
	font-size: 2em;
	border-bottom: 1px solid black;
	margin-bottom: 2%;
}

.form-post {
	width: 100%;
	height: 60%;
	padding: 0.5%;
	margin-right: auto;
	margin-left: auto;
	background-color: #282828;
}

/* Controls text size for forms*/
.form-inputs-text {
	font-size: 1em;
}
/* Controls padding around signup button */

.form-group-submit {
	padding-top: 3%;
	padding-bottom: 2%;
	padding-left: 4%;
	padding-right: 2%;
}

/* Controls submit button size */
.form-inputs-submit-signup {
	width: 15%;
	padding: 1%;
}

.form-inputs-submit-login {
	width: 15%;
	padding: 1%;
	border-color: #C3CDD6;
}

.form-inputs-submit-post {
	width: 7%;
	padding: 1%;
	border-color: #C3CDD6;
}


.form-group-submit-post {
	padding-top: 1%;
	padding-right: 1%;
}

.form-inputs {
	width: 100%;
	padding: 2%;
	border-bottom: 2px solid black;
}

.bottom_text {
	margin-left: 30%;
	margin-top: 1%;
	font-size: large;
}

.text-border{
	padding-bottom: 2%;
	padding-left: 1%;
	border-bottom: 1px solid black;
}

.login-block {
	background-color: #FFFFFF;
	margin: auto;
}

.login {
	background-color: #C3CDD6;
	height: 10vh;
	width: 50vh;
	margin-top: 10%;
	margin-right: auto;
	margin-left: auto;
}

.form-login {
	border: 1px solid black;
	width: 20%;
	height: 30%;
	padding: 0.5%;
	margin-right: auto;
	margin-left: auto;
	background-color: #C3CDD6;
}

.login-legend {
	font-size: 2em;
	border-bottom: 1px solid black;
	margin-bottom: 7%;
}

.alert-success {
	background-color: #92D17D;
	font-size: 1em;
	height: 50%;
	width: 100%;
	padding: 1%;
	border-radius: 0.5em;
	margin-bottom: 2%;
	text-align: center;
}

.alert-danger {
	background-color: #F77E7E;
	font-size: 1em;
	height: 50%;
	width: 100%;
	padding: 1%;
	border-radius: 0.5em;
	margin-bottom: 2%;
	text-align: center;
}

.alert-info {
	background-color: #85AAE6;
	font-size: 1em;
	height: 50%;
	width: 100%;
	padding: 1%;
	border-radius: 0.5em;
	margin-bottom: 2%;
	text-align: center;
}

.error-input {
	border: 1px solid #D1080C;
}

.error-text {
	color: #D1080C;
}

.post-title {
	border-bottom: 1px solid white;
	margin-left: 12%;
	padding-bottom: 1%;
	font-size: 1.5em;
}

.post-publisher {
	margin-left: 12%;
	padding-top: 1%;
}

.post-content {
	padding-top: 2%;
}

.post-misc {
	margin-bottom: 1%;
	padding-left: 80%;
}

.button-side {
	display: flex;
	position: absolute;
}

.profile-picture {
	background-color: bisque;
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 125px;
	height: 125px;
	border-radius: .3em;
}

.profile-img {
	height: 150px;
	width: 150px;
	border-radius: .3em;
	border: 5px solid White;
}

.banner-properties {
	position: relative;
}















/* end of functions */
