{% extends "layout.html"%}

{% block content %}

    <div id="container">

        <!--Use this area for website name or logo-->
        <header>
            <a href="index.html"><img src="images/ez.png" alt="ez logo" class="logo"></a>
            <!--<a href="index.html"><img src="images/endzone.png" alt="endzone logo" class="logo"></a>-->
            <!-- <a href="index.html"><img src="images/spartan.png" alt="spartan logo" class="logo"></a> -->
                <!--Use the nav area to add hyperlinks to the other pages within the website-->

        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="feed.html">Feed</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="event.html">Events</a></li>
                <li><a href="friends.html">Friends</a></li>
                <li><a href="trending.html">Trending</a></li>
                <li><a href="team.html">Team</a></li>
                <li><a href="profile.html">Profile</a></li>
            </ul>
        </nav>
        </header>

        <!-- Use the main area to add the main content of the webpage -->
        <div id=main>
            <img src="images/soccerball.jpg" alt="soccer ball" class="imgbanner">
            <article id="about">
                <p>This portion is reserved for About us dialog.</p>
            </article>
        </div><!--End of main-->

        <!-- Use the footer area to add webpage footer content -->
        <footer>
            &copy; Copyright 2020. All Rights Reserved. <br>
            <a href="mailto:help@cis350.com">help@cis350.com</a>
        </footer>

    </div>


{% endblock %}