{% extends "layout.html"%}

{% block content %}

    <div id="container">

        <!-- Use the main area to add the main content of the webpage -->
        <div id=main>
            <img src="images/soccerball.jpg" alt="soccer ball" class="imgbanner">
            <article id="about">
                <p>This portion is reserved for About us dialog.</p>
            </article>
        </div><!--End of main-->

        <!-- Use the footer area to add webpage footer content -->
        <footer>
            &copy; Copyright 2020. All Rights Reserved. <br>
            <a href="mailto:help@cis350.com">help@cis350.com</a>
        </footer>

    </div>


{% endblock %}