{% extends 'layout.html' %}

{% block content %}
        <!-- Use the main area to add the main content of the webpage -->
    <div id="container">
		<section id="userlinks">
			<ul>
				<li><a href="{{ url_for('home') }}">Home</a></li>
				<li><a href="{{ url_for('feed') }}">Feed</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="event.html">Events</a></li>
				<li><a href="friends.html">Friends</a></li>
				<li><a href="trending.html">Trending</a></li>
				<li><a href="team.html">Team</a></li>
				<li><a href="{{ url_for('profile') }}">Profile</a></li>
				<li><a href="{{ url_for('create_event') }}">Create Event</a></li>
			</ul>
		</section>

		<div class="event-feed">

            {% for event in event_form %}
				<article class="post">

                    {% if event.author == current_user %}
                        <div class="post-misc">
							<ul class="button-side">
								<li class="edit-properties">
                                    <a href="{{ url_for('update_event', event_id=event.id) }}" style="color: white;"> <i class="fa fa-pencil"></i> Edit</a>
                                </li>
								<li class="delete-properties">
                                    <a href="{{ url_for('delete_event', event_id=event.id) }}" style="color: white;"> <i class="fa fa-trash"></i> Delete </a>
                                </li>
							</ul>
						</div>
					{% endif %}
					<div class="smallfakeimg">
						<img class="article-img" src="{{  url_for('static', filename='pics/' + event.author.img_file)}}">
					</div>
					<div class="post-title">
						{{ event.title }}
					</div>
                    <div class="post-publisher">
                        <a class="user-properties" href="{{ url_for('get_event', event_id=event.id) }}">Click here for more details </a> {{ event.date_posted.strftime('%m/%d/%y') }}
					</div>
					<p class="post-content">{{ event.content }}</p>

				</article>
            {% endfor %}
		</div><!--End of feed-->
	</div><!--End of main-->
{% endblock content %}
