{% extends "layout.html"%}

{% block content %}
<div id="container">

	<div id="container">
        <!-- Use the main area to add the main content of the webpage -->
        <div id=main>
            <img src="images/soccerball.jpg" alt="soccer ball" class="imgbanner">
            <section class="onlyfeed">

                <article class="post">
                    <h2>Event Description</h2>
                    <p>Some text.. swgfvhasr';viohsargd 'SODhvoSDhv'SPODIhv' 'osIDh'osIDhv"SODhvs" 'sOPDIh'SODIhSOADIh'o SADh'opS Dhoh</p>
                </article>

                <article class="post">
                    <div class="smallfakeimg">Pic</div>
                    <h2>TITLE HEADING</h2>
                    <h5>Title description, Dec 7, 2017</h5>
                    <div class="fakeimg">Image</div>
                    <p>Some text..</p>
                </article>

                <article class="post">
                    <div class="smallfakeimg">Pic</div>
                    <h2>TITLE HEADING</h2>
                    <h5>Title description, Dec 7, 2017</h5>
                    <p>Some text.. swgfvhasr';viohsargd 'SODhvoSDhv'SPODIhv' 'osIDh'osIDhv"SODhvs" 'sOPDIh'SODIhSOADIh'o SADh'opS Dhoh</p>
                </article>

                <article class="post">
                    <div class="smallfakeimg">Pic</div>
                    <h2>TITLE HEADING</h2>
                    <h5>Title description, Dec 7, 2017</h5>
                    <p>Some text.. swgfvhasr';viohsargd 'SODhvoSDhv'SPODIhv' 'osIDh'osIDhv"SODhvs" 'sOPDIh'SODIhSOADIh'o SADh'opS Dhoh</p>
                </article>

                <article class="post">
                    <div class="smallfakeimg">Pic</div>
                    <h2>TITLE HEADING</h2>
                    <h5>Title description, Dec 7, 2017</h5>
                    <div class="fakeimg">Image</div>
                    <p>Some text..</p>
                </article>

            </section>
        </div><!--End of main-->
    </div>
{% endblock %}