{% extends "layout.html"%}

{% block content %}
<div id="container">
	<!-- Use the main area to add the main content of the webpage -->
	<div id=main>
		<img src="{{ url_for('static', filename='soccerball.jpg') }}" alt="soccer ball" class="imgbanner">
		<div class="profile-picture">
			<img class="profile-img" src="{{ image }}">
		</div>

		<section class="onlyfeed">

            <div class="form-group-post-profile">
                <a href="{{ url_for('update_profile') }}"> {{ form.update_profile() }} </a>
            </div>

			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}

					{% for category, message in messages %}

						{% if category == 'success' %}
							<div class="alert-success"> {{ message }} </div>
						{% elif category == 'danger' %}
							<div class="alert-danger"> {{ message }} </div>
						{% elif category == 'info' %}
							<div class="alert-info"> {{ message }} </div>
						{% endif %}

					{% endfor %}

				{% endif %}
			{% endwith %}

			<article class="post">
				<h2>BIO</h2>
				<p>{{ current_user.first_name }} {{ current_user.last_name }}</p>
				<p> Highschool : {{ current_user.high_school }}</p>
                <p> Sport: {{ current_user.sport }} </p>
                <p> Position: {{ current_user.position }}</p>
			</article>

			{% for post in posts %}
				{% if post.author == current_user %}
					<article class="post">
							<div class="smallfakeimg">
								<img class="article-img" src="{{ image }}">
							</div>
							<div class="post-title">
								{{ post.title }}
							</div>

							<div class="post-publisher">
								{{ post.author.first_name }} {{ post.author.last_name }}
								{{ post.date_posted.strftime('%m/%d/%Y') }}
							</div>

							<p class="post-content">{{ post.content }}</p>

							{% if post.post_image != 'temporary.png' %}
								<div class="fakeimg">
									<img class="post-image-properties" src="{{ url_for('static', filename='pics/' + post.post_image) }}">
								</div>
							{% endif %}
					</article>
				{% endif %}
			{% endfor %}

		</section>
        </div>
	</div><!--End of main-->
{% endblock %}