{% extends "layout.html"%}

{% block content %}
<div id="container">
	<!-- Use the main area to add the main content of the webpage -->
	<div id=main>
		<img src="{{ banner_image }}" alt="soccer ball" class="imgbanner">

        <!-- Profile Image -->
		<div class="profile-picture">
			<img class="profile-img" src="{{ image }}">
		</div>

        <!-- end of profile image-->
		<section class="onlyfeed">

            <!-- Checks to see if there are any flash messages -->
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						{% if category == 'success' %}
							<div class="alert-success"> {{ message }} </div>
						{% elif category == 'danger' %}
							<div class="alert-danger"> {{ message }} </div>
						{% elif category == 'info' %}
							<div class="alert-info"> {{ message }} </div>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endwith %}
            <!-- end of messages -->

            <!-- Profile bio -->
			<article class="post">
                <div>
                    <div class="post-misc">
                        <ul class="button-side">
                            <li> <a href="{{ url_for('update_profile') }}"> {{ form.update_profile }}</a> </li>
                        </ul>
                    </div>
                </div>
				<h1 style="color: #D1080C">{{ current_user.first_name }} {{ current_user.last_name }} </h1>
                <p> About me: <i>{{ current_user.about }} </i> </p>
                <p> Age: <i>{{ current_user.age }} </i> </p>
                <p> Birthday: <i> {{ current_user.birth_month }} {{ current_user.birth_date }}, {{ current_user.birth_year }} </i> </p>
                <p> Gender: <i> {{ current_user.gender }} </i> </p>
                <p> Current School : <i> {{ current_user.high_school }} </i> </p>
                <p> Sport: <i> {{ current_user.sport }} </i> </p>
                <p> Position: <i> {{ current_user.position }} </i> </p>
                <p> Lives in: {{ current_user.city }}, {{ current_user.state }}</p>

			</article>
            <!-- end of bio -->

            <!-- Displays posts -->
			{% for post in posts %}
				{% if post.author == current_user %}
					<article class="post">
							<div class="smallfakeimg">
								<img class="article-img" src="{{ image }}">
							</div>
							<div class="post-title">
								{{ post.title }}
							</div>

							<div class="post-publisher">
								{{ post.author.first_name }} {{ post.author.last_name }}
								{{ post.date_posted.strftime('%m/%d/%y') }}
							</div>

							<p class="post-content">{{ post.content }}</p>

							{% if post.post_image != 'temporary.png' %}
								<div class="fakeimg">
									<img class="post-image-properties" src="{{ url_for('static', filename='pics/' + post.post_image) }}">
								</div>
                            <!-- Checks to see if a video was uploaded -->
                            {% elif post.post_video != 'placeholder.mp4' %}
                                <video class="video-formatting" width="730" height="500" controls>
                                    <source src="{{ url_for('static', filename='pics/' + post.post_video) }}" type="video/mp4">
                                </video>
							{% endif %}
					</article>
				{% endif %}
			{% endfor %}
        <!-- end of posts -->
		</section>
        </div>
	</div><!--End of main-->
{% endblock %}
